<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<body>
	<form action="#" th:action="@{/estudiantes/actualizar/{idEstudiante}(idEstudiante=${estudiante.id})}" 
	th:object="${estudiante}" th:method="put"> 
	<table>
	
		<tr>
			<td>
				<label for="name">Nombre:</label>
			</td>
			<td>
				<input type="text" id="nombre" th:field="*{nombre}">
			</td>
		</tr>
		<tr>
			<td>
				<label>Apellido:</label>
			</td>
			<td>
				<input type="text" id="apellido" th:field="*{apellido}">
			</td>
		</tr>
		</table>
		<input type="submit" value="Actualizar">
	</form>
</body>


</html>